<!-- templates/cursos/lista_cursos.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
</head>
<body>
    <h2>Lista de Cursos</h2>

    <ul>
        {% for curso in cursos %}
            <li>{{ curso.nombre }} - {{ curso.descripcion }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'agregar_curso' %}">Agregar Nuevo Curso</a>
    <br>
    <a href="{% url 'buscar_cursos' %}">Buscar Cursos</a>
</body>
</html>
